<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Build and check "{{ SILO_NAME }}" projects</description>
  <logRotator>
    <daysToKeep>15</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:ubuntu-core-dev</permission>
      <permission>hudson.model.Item.Cancel:ubuntu-core-dev</permission>
      <permission>hudson.model.Item.Build:ubuntu-core-dev</permission>
      <permission>hudson.model.Item.Read:canonical-ci-eng</permission>
      <permission>hudson.model.Item.Cancel:canonical-ci-eng</permission>
      <permission>hudson.model.Item.Build:canonical-ci-eng</permission>
      <permission>hudson.model.Item.Read:ci-train-users</permission>
      <permission>hudson.model.Item.Cancel:ci-train-users</permission>
      <permission>hudson.model.Item.Build:ci-train-users</permission>
      <permission>hudson.model.Item.Read:ubuntu-unity</permission>
      <permission>hudson.model.Item.Cancel:ubuntu-unity</permission>
      <permission>hudson.model.Item.Build:ubuntu-unity</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PACKAGES_TO_REBUILD</name>
          <description>Enter source package names separated by spaces. A new build will be submitted to this silo containing all merge proposals attached to this landing request. It is an error to specify a source package name that has no merge proposals listed here. (leave blank for all)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>WATCH_ONLY</name>
          <description>Only watch the current ppa and run tests</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>FORCE_REBUILD</name>
          <description>Force rebuilding components associated to a MP even if there is no diff with dest or if latest version in destination archive isn't in targeted branches.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IGNORE_STEP</name>
          <description>Ignore if previous step hasn't completed successfully</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEBUG</name>
          <description>Debug mode</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -eu
export LANG=en_US.UTF-8
export WORKSPACE="$PWD"

cd {{ SILOS_DIR }}/{{ SILO_NAME }}

PACKAGES_TO_REBUILD=${PACKAGES_TO_REBUILD-}
OPTS=""
if [ ! -z "$PACKAGES_TO_REBUILD" ]; then
  OPTS="$OPTS --rebuildpackages $PACKAGES_TO_REBUILD"
fi
if [ "${WATCH_ONLY}" == "true" ]; then
  OPTS="$OPTS --watchonly"
fi
if [ "${FORCE_REBUILD}" == "true" ]; then
  OPTS="$OPTS --forcerebuild"
fi
if [ "${IGNORE_STEP}" == "true" ]; then
  OPTS="$OPTS --ignorestep"
fi
if [ "$DEBUG" == "true" ]; then
  OPTS="$OPTS --debug"
fi

{{ BINDIR }}/build $OPTS
</command>
    </hudson.tasks.Shell>
    <!--parametrize build: we can't build for now as parameters are not in the same file
    <hudson.plugins.parameterizedtrigger.TriggerBuilder>
      <configs>
        <hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
          <configs>
            <hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
              <properties>{{ checkparameters }}</properties>
            </hudson.plugins.parameterizedtrigger.PredefinedBuildParameters>
            <hudson.plugins.parameterizedtrigger.FileBuildParameters>
                <propertiesFile>/tmp/autopilot.{{ release }}.{{ stack }}.check.run</propertiesFile>
                <failTriggerOnMissing>true</failTriggerOnMissing>
            </hudson.plugins.parameterizedtrigger.FileBuildParameters>
          </configs>
          <projects>{{ extracheck }}</projects>
          <condition>ALWAYS</condition>
          <triggerWithNoParameters>false</triggerWithNoParameters>
          <block>
            <buildStepFailureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </buildStepFailureThreshold>
            <failureThreshold>
              <name>FAILURE</name>
              <ordinal>2</ordinal>
              <color>RED</color>
            </failureThreshold>
          </block>
          <buildAllNodesWithLabel>false</buildAllNodesWithLabel>
        </hudson.plugins.parameterizedtrigger.BlockableBuildTriggerConfig>
      </configs>
    </hudson.plugins.parameterizedtrigger.TriggerBuilder>-->
    <hudson.tasks.Shell>
      <command>#!/bin/bash -eu
export LANG=en_US.UTF-8
export WORKSPACE="$PWD"

cd {{ SILOS_DIR }}/{{ SILO_NAME }}

{{ BINDIR }}/mark-as-builtchecked
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
  </publishers>
  <buildWrappers/>
</project>
