<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Prepare and attribute a silo</description>
  <logRotator>
    <daysToKeep>15</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.security.AuthorizationMatrixProperty>
      <permission>hudson.model.Item.Read:ubuntu-unity</permission>
      <permission>hudson.model.Item.Cancel:ubuntu-unity</permission>
      <permission>hudson.model.Item.Build:ubuntu-unity</permission>
    </hudson.security.AuthorizationMatrixProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>REQUEST_ID</name>
          <description>Request ID from the spreadsheet (mandatory)</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SERIES</name>
          <description>Publish for this series (empty to reconfigure if doesn't match default value)</description>
          <defaultValue>trusty</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>DEST</name>
          <description>Set destination ppa if not Ubuntu archive</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>RECONFIGURE_SILO</name>
          <description>Don't instantiante a new silo, but reconfigure that one</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IGNORECONFLICTS</name>
          <description>Ignore conflicting components in multiple silos. This should only be used in very rare and identified case. Both silos owners need to be aware about it as the second one will have to rebuild and retest.</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>USE_PREPROD_SILO</name>
          <description>Assign a silo with preproduction CI Train code</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEBUG</name>
          <description>Debug mode</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -eu
export LANG=en_US.UTF-8
export WORKSPACE="$PWD
"
OPTS=""
REQUEST_ID=${REQUEST_ID-}
SERIES=${SERIES-}
DEST=${DEST-}

if [ ! -z "$SERIES" ]; then
  OPTS="$OPTS --series $SERIES"
fi
if [ ! -z "$DEST" ]; then
  OPTS="$OPTS --destppa $DEST"
fi
if [ "${RECONFIGURE_SILO}"  == "true" ]; then
  OPTS="$OPTS --reconfiguresilo"
fi
if [ "$IGNORECONFLICTS" == "true" ]; then
  OPTS="$OPTS --ignore-conflicts"
fi
if [ "$USE_PREPROD_SILO" == "true" ]; then
  OPTS="$OPTS --use-preprod-silo"
fi
if [ "$DEBUG" == "true" ]; then
  OPTS="$OPTS --debug"
fi

cd # go to home directory
{{ BINDIR }}/prepare-silo-using-spreadsheet-info --request-id ${REQUEST_ID} $OPTS
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
  </publishers>
  <buildWrappers/>
</project>
