<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Publish "{{ SILO_NAME }}" projects</description>
  <logRotator>
    <daysToKeep>15</daysToKeep>
    <numToKeep>-1</numToKeep>
    <artifactDaysToKeep>-1</artifactDaysToKeep>
    <artifactNumToKeep>-1</artifactNumToKeep>
  </logRotator>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.BooleanParameterDefinition>
          <name>ACK_PACKAGING</name>
          <description>Ack packaging changes</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IGNORE_MISSINGPROJECTS</name>
          <description>Ignore if some projects that are going to be published are missing from the initial set (can be a second publication for instance)</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IGNORE_STEP</name>
          <description>Ignore if previous step hasn't completed successfully</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>IGNORE_VERSIONDESTINATION</name>
          <description>Ignore if the latest version in destination doesn't match when prepare was started</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>DEBUG</name>
          <description>Debug mode</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash -eu
export LANG=en_US.UTF-8
export WORKSPACE="$PWD"
# Cleanup workspace
pwd|grep -q workspace &amp;&amp; rm -f *

cd {{ SILOS_DIR }}/{{ SILO_NAME }}

OPTS=""
if [ "${ACK_PACKAGING}" == "true" ]; then
  OPTS="$OPTS --ackpackaging"
fi
if [ "${IGNORE_MISSINGPROJECTS}" == "true" ]; then
  OPTS="$OPTS --ignoremissingprojects"
fi
if [ "${IGNORE_STEP}" == "true" ]; then
  OPTS="$OPTS --ignorestep"
fi
if [ "${IGNORE_VERSIONDESTINATION}" == "true" ]; then
  OPTS="$OPTS --ignoreversiondestination"
fi
if [ "$DEBUG" == "true" ]; then
  OPTS="$OPTS --debug"
fi

{{ BINDIR }}/publisher $OPTS

# copy artefacts
cp *diff publisher.xml packagelist* $WORKSPACE/ 2&gt;/dev/null || true

# create rsync out dir
mkdir -p {{ RSYNC_OUTDIR }}
mv packagelist_rsync_* {{ RSYNC_OUTDIR }} 2&gt;/dev/null || true
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*.diff,*xml,packagelist*</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
    <hudson.plugins.build__publisher.BuildPublisher>
      <publishUnstableBuilds>true</publishUnstableBuilds>
      <publishFailedBuilds>true</publishFailedBuilds>
      <postActions class="vector"/>
    </hudson.plugins.build__publisher.BuildPublisher>
  </publishers>
  <buildWrappers/>
</project>
