<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Prepare PPA for project {{ projectname }}</description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>master</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector"/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>#!/bin/bash

export LANG=en_US.UTF-8
BINDIR=/var/lib/jenkins/cu2d/cupstream2distro
WRKDIR=/var/lib/jenkins/cu2d/work/{{ stack }}-{{ release }}
OPTS="{{ opts }}"

cd $WRKDIR
$BINDIR/prepare-package $OPTS
RC=$?

cp -a *_{{ projectname }}_*xml $WORKSPACE/</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.ArtifactArchiver>
      <artifacts>*xml</artifacts>
      <latestOnly>false</latestOnly>
    </hudson.tasks.ArtifactArchiver>
    <hudson.tasks.junit.JUnitResultArchiver>
      <testResults>*.xml</testResults>
      <keepLongStdio>false</keepLongStdio>
      <testDataPublishers/>
    </hudson.tasks.junit.JUnitResultArchiver>
  </publishers>
  <buildWrappers/>
</project>
